# Cache
__pycache__/
*.pyc
*.py.swp
*.swp

# Virtual Environments
env/
.env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Sphinx
docs/_buld/

# Other Stuff
*.toml
*.sh
*.log
*.db
*.db-journal
*.db.old
*.db.bu
*.sqlite3
*.sqlite3-journal


# dUNL parsing tool
/xrpl_validation_tracker/xrpl-unl-manager
/xrpl_validation_tracker/xrpl_unl_manager
